@font-face {
  font-family: Diamond;
  src: url('./assets/Black\ Diamond.otf') format('opentype');
}

@font-face {
  font-family: Latinotype;
  src: url('./assets/Latinotype\ -\ TrendSansOne.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: Latinotype;
  color: #fff;
}

/*Mobile*/
/*Layout Styles*/
.App {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 45vh 25vh 10vh;
  grid-template-areas:
  "header"
  "main"
  "aside"
  "footer";
  padding: 15px;
}

.header {
  animation: pop-in 1s linear;
  grid-area: header;
  border: 1px solid #fff;
  border-radius: 5px;
}

.aside {
  animation: pop-in 1s linear;
  grid-area: aside;
  border: 1px solid #fff;
  border-radius: 5px;
}

.main {
  animation: pop-in 1s linear;
  grid-area: main;
  border: 1px solid #fff;
  border-radius: 5px;
}

.footer {
  animation: pop-in 1s linear;
  grid-area: footer;
  border: 1px solid #fff;
  border-radius: 5px;
}
/*End Layout Styles*/

.container {
  padding: 15px;
}


/*Medium*/
@media(min-width:768px) {
  /*Layout Styles*/
  .App {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header" 
    "main main main aside" 
    "main main main aside" 
    "footer footer footer footer";
    padding: 15px 30px;
  }
  /*End Layout Styles*/
  .container {
    padding: 30px;
  }
}



/*Keyframes*/
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}